<!doctype html>
<html>
  <head>
    <title>AirDispatch Chat Application</title>
    <!-- CSS Frameworks -->
    <link href="http://common.melange:7776/css/bootswatch-yeti/3.1.1" rel="stylesheet" type="text/css">
    <link href="http://common.melange:7776/css/font-awesome/4.1.0" rel="stylesheet" type="text/css">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <!-- JQuery -->
    <script src="http://common.melange:7776/js/jquery/1.11.1"></script>
    <!-- Angular -->
    <script src="http://common.melange:7776/js/angular/1.2.18"></script>
    <script src="http://common.melange:7776/js/angular-sanitize/1.2.18"></script>
    <!-- Melange -->
    <script src="http://common.melange:7776/js/melange/0.0.1"></script>
    <script src="/app.js"></script>
  </head>
  <body ng-app="msgApp" ng-controller="messagesCtrl">
    <div class="container-fluid">
      <div class="sidebar" ng-class="{'sidebar-hidden': selected !== undefined}">
        <div class="addMessage">
          <a class="btn btn-success btn-xs" ng-class="{'disabled': loading}" ng-click="newConversation()" href="">
            <i class="fa fa-plus"></i> New
          </a>
        </div>
        <div class="conversation" ng-class="{'active': $parent.selected.key == user.key}" ng-click="selectConversation(user)" ng-repeat="user in users | orderBy: '-latest'">
          <div class="avatar mobile-block pull-left" style="background-image: url('{{ user.avatar }}');">
          </div>
          {{ user.name == '' ? user.alias : user.name }}
          <div class="text-muted mobile-block">
            <small>
              <strong>{{ user.messages[0].sender ? "You:" : "" }}</strong>
              {{ user.messages[0].message.string | limitTo:100 }}
            </small>
          </div>
        </div>
      </div>
      <div class="main" ng-class="{'main-show': selected !== undefined}">
        <div ng-show="selected === undefined" class="text-center">
          <h3 class="text-muted" style="margin-top: 40px;">Select a conversation to get started.</h3>
          <p class="text-muted">Or, start a new converstaion.</p>
          <div ng-if="loading">
            <br/>
            <p class="text-muted"><i class="fa fa-3x fa-circle-o-notch fa-spin"></i></p>
          </div>
        </div>
        <div ng-hide="selected === undefined">
          <div class="top" style="width: 100%;">
            <a href="" ng-click="selected = undefined" class="btn btn-inverse btn-xs mobile">
              <i class="fa fa-chevron-left"></i> Back
            </a>
            To: <input type="text" class="input-xs to" placeholder="Address" ng-model="selected.alias">
          </div>
          <div class="messages" id="messages">
            <table>
              <tr>
                <td valign="bottom">
                  <div ng-repeat="(index, message) in selected.messages | reverse">
                    <div ng-if="index > 0 ? (selected.messages[selected.messages.length - index].timestamp.getTime() + 300000) < message.timestamp.getTime() : true" class="timestamp">
                      {{ message.timestamp | date:"MMMM d h:mm a"}}
                    </div>
                    <div class="message" ng-class="{ 'sender': message.sender, 'receiver': !message.sender }" ng-bind-html="message.message.string | linky">
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom">
            <form role="form" ng-submit="send()">
              <i ng-show="sending" class="fa fa-circle-o-notch fa-spin loading"></i>
              <input class="form-control" ng-disabled="sending" ng-model="newMessage" type="text" id="newMessageText" placeholder="Message">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
